## Project for EconS 514
### Spring 2019
##### Predicting the use of energy-efficient appliances at home

Afrin Islam  
Josh Olsen  
Mursaleen Shiraj  
Jake Wagner

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn import linear_model
from sklearn import svm
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier

###### Data Preprocessing

In [44]:
df=pd.read_csv('appliance_data_2.csv').dropna()

In [45]:
df.head()

,efridge,edryer,ewashr,edishwr,enoeapp,ecntair,eheatut,degree,smsa,county,...,dumcfuel2,dumcfuel3,dumcfuel4,dumcfuel5,dumcfuel6,dumcfuel7,dumcfuel8,dumdfuel1,dumdfuel2,dumdfuel3
0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,4,360,59,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1.0,0.0,1.0,1.0,0.0,1.0,1.0,4,360,59,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,4,360,59,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1.0,0.0,1.0,0.0,0.0,0.0,0.0,4,360,59,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,1.0,0.0,1.0,1.0,0.0,1.0,1.0,4,360,59,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [46]:
len(df) #sample size

28344

In [47]:
df["intercept"]=1

In [48]:
df.head()

,efridge,edryer,ewashr,edishwr,enoeapp,ecntair,eheatut,degree,smsa,county,...,dumcfuel3,dumcfuel4,dumcfuel5,dumcfuel6,dumcfuel7,dumcfuel8,dumdfuel1,dumdfuel2,dumdfuel3,intercept
0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,4,360,59,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1
1,1.0,0.0,1.0,1.0,0.0,1.0,1.0,4,360,59,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,4,360,59,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1
4,1.0,0.0,1.0,0.0,0.0,0.0,0.0,4,360,59,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1
5,1.0,0.0,1.0,1.0,0.0,1.0,1.0,4,360,59,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1

In [49]:
county_name=pd.get_dummies(df["county"])

In [50]:
df=df.join(county_name)

In [51]:
df.shape

(28344, 445)

In [55]:
df=df.drop(["county", "smsa"], axis=1)

In [56]:
df.head()

,efridge,edryer,ewashr,edishwr,enoeapp,ecntair,eheatut,degree,per,zadult,...,989,990,991,992,993,994,995,996,997,999
0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,4,3.0,2.0,...,0,0,0,0,0,0,0,0,0,0
1,1.0,0.0,1.0,1.0,0.0,1.0,1.0,4,4.0,2.0,...,0,0,0,0,0,0,0,0,0,0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,4,3.0,3.0,...,0,0,0,0,0,0,0,0,0,0
4,1.0,0.0,1.0,0.0,0.0,0.0,0.0,4,2.0,2.0,...,0,0,0,0,0,0,0,0,0,0
5,1.0,0.0,1.0,1.0,0.0,1.0,1.0,4,4.0,2.0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
#didn't use this actually
x=np.asarray(df[df.columns[1:]])
y=np.asarray(df["efridge"])
cons=np.ones((len(df), 1))
X=np.column_stack((cons, np.asarray(x)))

In [26]:
X_train, X_test, y_train, y_test=train_test_split(df[df.columns[1:]], df["efridge"])
#X_train, X_test, y_train, y_test=train_test_split(X, y)
scaler=StandardScaler()
scaler.fit(X_train)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [27]:
X_train_trans=scaler.transform(X_train)
X_test_trans=scaler.transform(X_test)

##### Neural Network

In [28]:
mlp=MLPClassifier(hidden_layer_sizes=(12, 24, 12), activation='logistic', max_iter=200)
mlp.fit(X_train_trans, y_train)

MLPClassifier(activation='logistic', alpha=0.0001, batch_size='auto',
       beta_1=0.9, beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(12, 24, 12), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       nesterovs_momentum=True, power_t=0.5, random_state=None,
       shuffle=True, solver='adam', tol=0.0001, validation_fraction=0.1,
       verbose=False, warm_start=False)

In [29]:
mlp.score(X_train_trans, y_train)

0.8829617085332581

In [30]:
mlp.score(X_test_trans, y_test)

0.80383855489698

##### Logistic Regression

In [31]:
logistic=LogisticRegression()
logistic.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [32]:
logistic.score(X_train, y_train)

0.7799887101326559

In [33]:
logistic.score(X_test, y_test)

0.7732147897262207

##### Support Vector Machine

In [34]:
clsf=svm.SVC(kernel='sigmoid')
clsf.fit(X_train, y_train)
clsf.score(X_train, y_train)

0.5605419136325148

In [35]:
clsf.score(X_test, y_test) # check this with the train test result !!

0.5633643804685295

##### Regression Tree

In [36]:
clf_tree = tree.DecisionTreeClassifier()
clf_tree= clf_tree.fit(X_train, y_train)
clf_tree.score(X_train, y_train) #performance in training set is too good, overfitting

1.0

In [37]:
clf_tree.score(X_test, y_test) #test set performanc eis not that high, but not bad either

0.7830934236522721

##### Random Forest

In [38]:
clf_forest = tree.DecisionTreeClassifier()
clf_forest = clf_forest.fit(X_train, y_train)

clf_forest.score(X_train, y_train) # again, overfitting

1.0

In [39]:
clf_forest.score(X_test,y_test)

0.7849280270956817

##### LASSO

In [40]:
lassomodel=linear_model.Lasso()
lassomodel.fit(X_train, y_train)

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False)

In [41]:
pos=np.where(np.abs(lassomodel.coef_)>=0.000001)

In [42]:
pos

(array([ 7, 32, 56], dtype=int64),)

In [43]:
df.columns[pos]

Index(['degree', 'recrm', 'bldage'], dtype='object')